.Button{
    padding: 10px 5px;
    margin:5px 10px;
    color: white;
    background: skyblue;
    font-size: large;
    font-weight: 700;
    border-radius: 7px;
    border:none; 
    box-shadow: 20px 20px 25px grey ;
} 
.Button img{
    max-width: 128px;
    height: 64px;
}
.Button:hover{
    box-shadow: 10px 10px 20px grey ;
}
.clicked{
    box-shadow: 2px 2px 20px grey !important;
}